<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/janbolot/QA/Ideaprojects/QAGuru/CodingBatWinter24">
        <classes>
            <class name="janbolot.String_3.countYZTest">
                <methods>
                    <include name="testCountYZ"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>